body {
    background:rgb(255, 255, 200);
}

.loguinho {
    width: 100px;
}

.logao {
    width: 550px;
}

div{
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.btn-warning{
    background-color: yellow;
}

.form-signin{
    color: tomato;
    font-size: 100;
}

.button1{
    margin-right: 5px;
}